/* home.css */

.image-with-text {
  position: relative;
  margin-bottom: 20px;
}

.image-text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Adjust padding for spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  text-align: right;
  color: rgb(12, 6, 6);
}

.image-with-text img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(102, 89, 89, 0.1);
}

.image-text-overlay h3 {
  font-size: 13px; /* Adjust the font size as needed */
  margin: 0; /* Remove default margin */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.image-with-text1 {
  position: relative;
  margin-bottom: 20px;
}
